<div class="row">
  <div class="col-xm-12 col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead class="thead-dark">
            <tr><th colspan="2">Descriptive statistics</th></tr>
          </thead>
          <tbody *ngIf="statistics">
            <tr *ngFor="let k of getStatsKeys()">
              <th>{{k}}</th>
              <td>{{statistics.stats[k]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="col-xm-12 col-sm-12 col-md-9">
    <div class="card">
      <div class="card-body">
        <fusioncharts
          width="100%"
          height="450"
          type="line"
          [dataSource]="dataSource">
        </fusioncharts>
      </div>
    </div>
  </div>

</div>


