<div class="jumbotron">
  <form>
      <div class="form-group">
        <label  for="name">BPMS User:</label>
        <input type="text" [(ngModel)]="user.name"
            class="form-control" name="name">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" [(ngModel)]="user.password"
            class="form-control" name="password">
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="kieServerHost">Kie Server URL:</label>
          <input type="text" [(ngModel)]="user.kieServerHost"
            class="form-control" name="kieServerHost" value="http://localhost:8080">
        </div>
        <div class="form-group col-md-6">
          <label for="kieContainerName">Kie Container Name:</label>
          <input type="text" [(ngModel)]="user.kieContainerName"
            class="form-control" name="kieContainerName" value="solar-village">
        </div>
      </div>
        <button type="button" class="btn btn-primary"
          (click)="signin()" >Sign in</button>
  </form>  
</div>
