<app-search-filters (parameters)='search($event)'></app-search-filters>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <th>Timestamp</th>
              <th>Instace Type</th>
              <th>Product Description</th>
              <th>Availability Zone</th>
              <th>Spot Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let record of records">
                <td>{{record['Timestamp']}}</td>
                <td>{{record['InstanceType']}}</td>
                <td>{{record['ProductDescription']}}</td>
                <td>{{record['AvailabilityZone']}}</td>
                <td>{{record['SpotPrice']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>     
    </div>
  </div>